.navbar {
    display: flex;
    background-color: rgb(37, 37, 37);
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    background-color: rgb(102, 102, 102);
}

.nav-btn {
    display: none;
}

@media (max-width: 1000px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(37, 37, 37);
        color: white;
        display: block;
        cursor: pointer;
    }  
    .nav-list {
        display: none;
    }  

    .nav-btn:hover {
        background-color: rgb(102, 102, 102);       
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(37, 37, 37);
    }
    .navbar {
        justify-content: space-between;
    }
}